<!DOCTYPE html>
<html lang="en">

<head>
  <title>Burgers Galore</title>
  <link rel="icon" href="friendLogo.jpg" type="image/gif" sizes="16x16">
  <!-- Link to the jQuery Library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Including Font Awesome Icons -->
  <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burger.js"></script>
      
</head>
	<body>
		{{{ body }}}
		
	</body>


</html>
