<h1>BURGERS GALORE!</h1>

<h2>New Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Select One:</label><br>
    <input type="radio" name="devoured" value="1" checked> Name your burger<br>
    <input type="radio" name="devoured" value="0"> What you ate last time?
  </div>

  <button type="submit">Add Burger</button>
</form>
