<!DOCTYPE html>
<html>
<head>
  
          
</head>
<body>

  {{!-- header --}}
  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/burgerLogo.png" alt="glyphicons envelope icon" height="50" width="50" />BURGERS GALORE!</a>
        <ul class="right hide-on-med-and-down">
          <li id="header_li"><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li id="header_li"><a href="badges.html"><i class="material-icons">view_module</i></a></li>
          <li id="header_li"><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
          <li id="header_li"><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
    </nav>

<div class="row>">
  <div class="col s4">

  {{!-- cards  1 --}}

  <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/Chili-Cheese-Burger.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">New Burger<i class="material-icons right">more_vert</i></span>
        <p><a href="https://www.rd.com/food/recipes-cooking/burger-recipes/">See whats new out there</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">A perfect Burger<i class="material-icons right">close</i></span>
        <p>The perfect burger is a feat of architecture. It's built in the same way the Empire State Building or the Golden Gate Bridge was, piece by piece and with great thought and technical consideration. - Alex Delany</p>
        <div class="row">
           <div class="col s12 m6">
             <div class="card blue-grey darken-1">
               <div class="card-content black-text">
                 <span class="card-title"><h2>New Burgers</h2></span>
                  <p>Name your own burger</p>
                 <ul>
                   {{#each burgers}}
                     {{#if devoured}}
                       {{> burger/burger-block sleep=false}}
                     {{/if}}
                   {{/each}}
                 </ul>
               </div>
               <div class="card-action">
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>

<div class="col s4">

  {{!-- cards  2 --}}
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/Burger-Close-Up-Grassburger.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Devoured Burgers<i class="material-icons right">more_vert</i></span>
          <p><a href="https://www.eater.com/2013/4/16/6448941/the-12-most-elusive-burgers-and-how-to-get-them">Most Devoured</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">It is here, where eaten burgers live.<i class="material-icons right">close</i></span>
          <p>Scroll Down Below</p>
            <div class="row">
              <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                  <div class="card-content black-text">
                    <span class="card-title"><h2>Devoured Burgers</h2></span>
                     <p>Return 'em or Throw them away.</p>
                    <ul>
                      {{#each burgers}}
                        {{#unless devoured}}
                          {{> burger/burger-block sleep=true}}
                        {{/unless}}
                      {{/each}}
                    </ul>
                  </div>
                  <div class="card-action">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

 <div class="col s4">

 {{!-- cards  3--}}
 <div class="card">
     <div class="card-image waves-effect waves-block waves-light">
       <img class="activator" src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/build-your-burger.png">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4">Create Your Own<i class="material-icons right">more_vert</i></span>
        <p><a href="https://www.rd.com/food/recipes-cooking/burger-recipes/">Burger Ideas</a></p>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">A Chefs Special<i class="material-icons right">close</i></span>
         <div class="row">
           <div class="col s12 m6">
             <div class="card blue-grey darken-1">
               <div class="card-content black-text">
                 <span class="card-title"><h2>Give it a Name</h2></span>
                  <p>After all, name says it all</p>
                    {{!-- FORM --}}
                      <form class="create-form">
                          <div class="form-group">

                            <p for="devoured" for="test3"></p>

                            <p>
                              <input  type="radio" id="test1" name="devoured" value="1"/>
                              <label for="test1">Name your burger </label>
                            </p>
                            <p>
                              <input  type="radio" id="test2" name="devoured" value="0"/>
                              <label for="test2">What you ate last time?</label>
                            </p>
                            <p>

                              <div class="form-group">
                                {{!-- <h2>Add your burger:</h2> --}}

                                <label for="ca">{{!-- Burger Name: --}}</label>
                                <input placeholder="Burger Name" class="validate" type="text" id="ca" name="name">
                              </div>
                       
                          </div>

                          <button type="submit">Add Burger</button>
                      </form>
                      {{!--  --}}
                  </div>
               <div class="card-action">
               </div>
             </div>
           </div>
         </div>
     </div>
 </div>
</div>    

</div> {{!-- ROW CLOSING TAG --}}
  

  {{!-- footer --}}
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container center">

        {{!--  --}}

          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              <p id="copyright">© 2018 Copyright Tilesmaster</p>
          </div>
        {{!--  --}}
        
        <div class="row" id="thumbhead">

          <div class="col s4" id="thumb">

            <a class="grey-text text-lighten-4 center" href="https://stackoverflow.com/users/8400475/gel-sisaed"><img class="activator" id="githubX" src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/stackoverflow2.png"></a>

          </div>
          
          <div class="col s4" id="thumb">

            <a class="grey-text text-lighten-4 center" href="https://www.linkedin.com/in/gel-d-b8314556/"><img class="activator" id="github" src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/linkdin.png"></a>

          </div>

          <div class="col s4" id="thumb">

            <a class="grey-text text-lighten-4 center" href="https://github.com/IamGiel/burger"><img class="activator" id="github" src="https://raw.githubusercontent.com/IamGiel/burger/master/views/images/github.png"></a>

          </div>

        </div>

      
      
      </div>
    </div>
    
  </footer>
     
</body>
</html>



