html {
	margin:24px;
    font-size: 12px;
}

.material-icons {
	float: left;
	/*clear:left;*/
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
